#root {
  max-width: 140px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

/* styles for content.js */
/* commented out because of no use contents.js
.gpt-app-link {
  position: fixed;
  top: 50px;
  right: 16px;
  display: inline-block;
  background: #41464cdd;
  color: white;
  padding: 0.5em;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  cursor: move;
  font-weight: bold;
  z-index: 1111;
}
 */